<div id="app">
  <md-toolbar v-if="user" class="md-dense">
    <h2 class="md-title" style="flex: 1">
      <router-link style="color: #FFF;" v-if="!popup" :to="{ path: '/' }">Grades</router-link>
      <md-icon v-if="popup" class="md-primary" style="color: #FFF; cursor: pointer" @click.prevent.native="$router.go(-1)">clear</md-icon>
    </h2>
    <md-button @click.native="logout()">
      logout
    </md-button>
  </md-toolbar>

  <div class="container">
    <transition name="transitionName">
      <router-view></router-view>
    </transition>
  </div>

  <md-snackbar md-position="bottom center" ref="snackbar" md-duration="4000">
    <span>{{error.message}}</span>
    <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.snackbar.close()">Dismiss</md-button>
  </md-snackbar>
</div>
