<div class="semester">
  <h1>{{semester.id}}. Semester</h1>
  <router-link :to="{ path: 'module/0'}" append>
    <md-button class="md-icon-button md-raised md-primary" style="position: fixed; bottom: 1rem; right: 1rem; z-index:2">
      <md-icon>add</md-icon>
    </md-button>
  </router-link>
  <md-card v-for="(module, index) of semester.modules" :key="index" style="margin-bottom: 1rem;">
    <md-card-header>
      <div class="md-title">{{module.name}}</div>
      <div class="md-subhead">{{module.time}} - {{module.room}}</div>
    </md-card-header>

    <md-card-expand>
      <md-card-actions>
        <router-link :to="{ path: 'module/' + module.id}" append>
          <md-button class="md-raised md-primary">
            Edit
          </md-button>
        </router-link>
        <md-button @click.native="deleteModule(module)" class="md-raised md-warn">Delete</md-button>
        <span style="flex: 1"></span>
        <md-button class="md-icon-button" md-expand-trigger>
          <md-icon>keyboard_arrow_down</md-icon>
        </md-button>
      </md-card-actions>
      <md-card-content>
        <md-list>
          <h3>{{getAvg(module.marks)}}</h3>
          <md-list-item v-for="(mark, i) of module.marks" :key="i">
            <span>{{mark.mark}}</span>
            <md-button class="md-icon-button md-list-action" @click.native="deleteMark(module, mark)">
              <md-icon class="md-primary" >clear</md-icon>
            </md-button>
          </md-list-item>
          <router-link :to="{ path: `module/${module.id}/mark`}" append>
            <md-button class="md-raised md-primary md-icon-button">
              <md-icon>add</md-icon>
            </md-button>
          </router-link>

        </md-list>
      </md-card-content>
    </md-card-expand>
  </md-card>




  <!--<b-table striped hover :items="semester.modules" :fields="fields" @row-clicked="selectModule($event)">
    <template slot="actions" scope="item">
      <b-btn variant="warning" size="sm" @click="module = item.item; $root.$emit('show::modal','addSemester')">Edit</b-btn>
      <b-btn variant="danger" size="sm" @click="deleteModule(item.item)">Delete</b-btn>
    </template>
  </b-table>
  <b-button variant="success" @click="$root.$emit('show::modal','addSemester')">+</b-button>

  <b-modal id="addSemester" title="Edit Module" @ok="submitModule" @shown=" ">
    <form @submit.stop.prevent="submitModule">
      <b-form-input class="mb-2" type="text" placeholder="Name" v-model="module.name"></b-form-input>
      <b-form-input class="mb-2" type="text" placeholder="Time" v-model="module.time"></b-form-input>
      <b-form-input type="text" placeholder="Room" v-model="module.room"></b-form-input>
    </form>
  </b-modal>

  <div class="semester__details mt-4" v-if="selectedModule">
    <h2>{{selectedModule.name}} - {{average}}</h2>
    <b-table striped hover :items="selectedModule.marks" :fields="moduleFields">
      <template slot="actions" scope="item">
        <b-btn variant="danger" size="sm" @click="deleteMark(item.item)">Delete</b-btn>
      </template>
    </b-table>
    <b-button class="mb-2" variant="success" @click="$root.$emit('show::modal','addMark')">+</b-button>

    <b-modal id="addMark" title="Edit Mark" @ok="submitMark" @shown=" ">
      <form @submit.stop.prevent="subitMark">
        <b-form-input class="mb-2" type="number" placeholder="Mark" v-model="mark.mark"></b-form-input>
        <b-form-input type="number" placeholder="Weighting" v-model="mark.weighting"></b-form-input>
      </form>
    </b-modal>
  </div>-->
</div>
