<div class="home">
  <h1>Semesters</h1>
  <md-list>
    <md-list-item v-for="(semester, i) in semesters" :key="i" :href="'#/semester/' + semester.id">
      <span>{{semester.id}}. Semester</span>

      <md-button class="md-icon-button md-list-action">
        <md-icon class="md-primary" @click.prevent.native="remove(semester)">clear</md-icon>
      </md-button>
    </md-list-item>
  </md-list>

  <md-button class="md-raised md-primary md-icon-button" @click.native="add">
    <md-icon>add</md-icon>
  </md-button>
</div>
